body
{
    width: 100% !important ;
    height: 100vh !important;
    margin:  0 0 0 0 !important;
    position: absolute !important;
}


#navbar
{
    width: 100%;
    height: 60px;
    position: fixed;
    top:0px;
    background-color:transparent;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo-container
{
    margin-left: 25px;
}

.logo
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px !important;
}

#tool-container
{
    margin-right:25px
}

.tool
{
    font-size: x-large;
    margin-left: 12px;
}

#chatbox
{
    position:fixed;
    bottom: 40px;
    right: 30px;
    font-size: xx-large;
    color: white;
}

#main1
{
   width: 100%;
   height: 100%;
   margin:  0 0 0 0;
}


#main2
{
    width: 100%;
    height:100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
} 


#main3
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 30px;
}

#main4
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center ;
}


#font-img
{
    border-radius: 8px;
}

#back-ground-img
{   
    margin:  0 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    border-radius: 0px;
}




#movie-section
{
    background-color: rgb(34, 34, 34);
    width: 100%;
    height: 700px;
}

.movie-line
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left:24.3px;
}

.movie-item
{
    width: 200px;
    height: 352px;
    background-color: rgb(32,28,28);
    border-radius: 8px;
}

.title
{
    font-size: 16px !important;
    font-family: Arial, Helvetica, sans-serif !important;
    margin-left: 8px;
}



i
{
    font-size: larger;
}



div
{
    margin:  0 0 0 0;
}



img
{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px
}

h1
{
    margin:  0 0 0 0;
    font-size: 48px !important;
    font-family: Arial, Helvetica, sans-serif ;
}

h2
{
    margin-left: 24.3px;
    padding-top: 32px;
    font-size:24px !important;
    color:rgb(229, 231, 235) !important;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

p
{
    color: white;
    margin:  0 0 0 0;
    display: inline;
    font-size: 20px !important;
    font-family: Arial, Helvetica, sans-serif ;
}




